:host {
  width: 80%;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}

.name {
  margin-bottom: 20px;
}