.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__button {
    color: blue;
  }
}

.department-col {
  min-width: 100px;
}

.name-col {
  min-width: 150px;
}

.bum-col {
  min-width: 100px;
}

.title-col {
  min-width: 200px;
}

.row {
  cursor: pointer;
}