.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title-h2{
  width: 30%;
}

.department-col {
  min-width: 100px;
}

.name-col {
  min-width: 200px;
}

.bum-col {
  min-width: 200px;
}

.title-col {
  min-width: 200px;
}

.row {
  cursor: pointer;
}
.searchtextbox{
  width: 350px;
  height: 40px;
  margin-top: 11px;
  font-size: 14px;
}

.go-button{
  width: 8%;
  height: 44px;
  margin-top: 11px;
}
.next-button{
  margin-left: auto;
}
.previous-button{
  margin-right: auto;
}

